html {
    background-color: maroon;
}

body {
    background-color: white;
    width: 600px;
    padding: 75px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    border-radius: 25px;
    margin-top: 10px;
    padding-bottom: 30px;
    padding-top: 15px;
}

p {
    text-align: left
}

h1 {
    color: #808000
}

h2 {
    color: maroon
}

h3 {
    color: maroon
}

div.Calc {
    background-color: rgb(235, 235, 235);
    border: 1px solid grey;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p.calc {
    text-align: left
}

button {
    background-color: #808000;
    color: white;
    font-size: 18px;
    font-variant: small-caps;
    padding-top: 6px;
    padding-bottom: 6px;
    
}

h1, h2, h3 {
    font-family: 'Maven Pro', sans-serif;
}
p,p.calc{
    letter-spacing: 0.3px;
}
p.img{
    text-align: center;

}
span.result{
    color: maroon;
}
span.Calculate{
    border: 1px solid black;
    font-variant: small-caps;
    font-weight: bolder
}